html,
body {
  min-width: 320px;
}
.App {
  min-height: calc(100vh);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.linear-background {
  background: linear-gradient(
    to right,
    rgb(127, 206, 178),
    rgb(85, 183, 227),
    rgb(132, 138, 237),
    rgb(188, 115, 217),
    rgb(234, 102, 186),
    rgb(253, 134, 137)
  );
}
